<!DOCTYPE html>
<html>
   <head>
      <title>Home</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js">
      </script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
   </head>

   <body>
     <nav class="light-blue lighten-1" role="navigation">
       <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">IntelliQuote</a></div>
     </nav>

     <div class="section no-pad-bot" id="index-banner" style="padding:0">
       <div class="container shadow" >
         <br><br>
         <h1 class="header center orange-text">Healthcare, Modernized</h1>
         <h3 class=" center blue-text light">Stay assured, we've got you :)</h3>
         <div class="row center">
           <h5 class="header col s12 light">Find out if you're eligible for one of our new plans</h5>
         </div>
         <div class="row center">
           <a href="{{url_for('forms')}}" id="download-button" class="btn-large waves-effect waves-light orange">Let's go!</a>
         </div>

       </div>
     </div>


     <!--  Scripts-->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="../../bin/materialize.js"></script>
     <script src="js/init.js"></script>

     </body>
</html>
